# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Data types

In [2]:
path = r'C:\Users\Kozole\Desktop\CF Kurs\Excercise\4\Instacart Basket Analysis'

In [3]:
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

# 03. 4.7 If-Statements with User-Defined Functions

In [7]:
# Creating a subset
df = df_orders_products_merged[:1000000]

In [8]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [10]:
df.shape

(1000000, 14)

In [11]:
# Defining a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [12]:
# Applying the function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Kozole\AppData\Local\Temp\ipykernel_25852\2918228003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [13]:
df['price_range'].value_counts(dropna = False)

Mid-range product    652593
Low-range product    338063
High range             9344
Name: price_range, dtype: int64

In [14]:
df['prices'].max()

24.5

# 4.7 If-Statements with the loc() Function

In [4]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [5]:
df_orders_products_merged.loc[(df_orders_products_merged['prices'] <= 15) & (df_orders_products_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [6]:
df_orders_products_merged.loc[df_orders_products_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [7]:
df_orders_products_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21861997
Low-range product     10126366
High-range product      417678
Name: price_range_loc, dtype: int64

In [8]:
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product

# 4.7 If-Statements with For-Loops

In [9]:
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: orders_day_of_week, dtype: int64

In [10]:
result = []

In [11]:
for value in df_orders_products_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [12]:
df_orders_products_merged['busiest_day'] = result

In [13]:
df_orders_products_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22417684
Busiest day        6204404
Least busy         3783953
Name: busiest_day, dtype: int64

In [14]:
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy

# Task 4.7

In [26]:
# 02.Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. 
# Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two 
#busiest days of the week as opposed to the single busiest day. At the same time, 
# they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [15]:
# Checking the  frequency of the “orders_day_of_the_week” column
df_orders_products_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204404
1    5660456
6    4496635
2    4213986
5    4205906
3    3840701
4    3783953
Name: orders_day_of_week, dtype: int64

In [ ]:
# The two busiest days of the week are 0-Saturday and 1-Sunday. The two slowest days are 3-Tuesday and 4-Wednesday

In [16]:
# Createing an empty list
result = []

In [ ]:
# Createing the loop code
for value in df_orders_products_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result.append('Busiest days')
  elif value == 3 or value == 4:
    result.append('Slowest days')
  else:
    result.append('Regularly busy')

In [ ]:
# Creating a new column named busiest_days
df_orders_products_merged['busiest_days'] = result

In [35]:
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days

In [36]:
# 04.When too many users make Instacart orders at the same time, the app freezes. 
# The senior technical officer at Instacart wants you to identify the busiest hours of the day. 
# Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” 
# Create a new column containing these labels called “busiest_period_of_day.

In [37]:
# Checking the  frequency of the “order_hour_of_day” column
df_orders_products_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761862
11    2736242
14    2689251
15    2662246
13    2661057
12    2618613
16    2535313
9     2454273
17    2087721
8     1718182
18    1636566
19    1258352
20     976182
7      891082
21     795658
22     634247
23     402335
6      290500
0      218786
1      115706
5       87964
2       69377
4       53245
3       51281
Name: order_hour_of_day, dtype: int64

In [38]:
# The busiest hours of the day is 10 )Most orders)and the slowest hour is 3(Fewest orders), 
# all other are Average orders.

In [39]:
# Createing an empty list
result = []

In [40]:
# Createing the loop code
for value in df_orders_products_merged['order_hour_of_day']:
  if value == 10:
    result.append('Most orders')
  elif value == 3:
    result.append('Fewest orders')
  else:
    result.append('Average orders')

In [41]:
# Creating a new column named busiest_period_of_day
df_orders_products_merged['busiest_period_of_day'] = result

In [42]:
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest days,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest days,Average orders

In [45]:
# 05.Print the frequency for this new column

In [46]:
# Checking the  frequency of the “busiest_period_of_day” column
df_orders_products_merged['busiest_period_of_day'].value_counts(dropna = False)

Average orders    29592898
Most orders        2761862
Fewest orders        51281
Name: busiest_period_of_day, dtype: int64

In [47]:
# 07.Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [48]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4.7.pkl'))